<div class="card alert-primary" style="max-width: 50vh; margin:auto; border-radius: 10%;">
    <div class="card-body " style="max-width: 50vh;">
        <form action="" method="post">
            <h3 style="text-align: center;">Login</h3>
            <label for="email">Email:</label>
            <input type="email" class="form-control"required>
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" required>
            <button type="submit" class="btn btn-success mt-2">Entrar</button>
        </form>
        
    </div>
</div>