<div class="card border-warning justify-content-lg-center "  style="max-width: 100vh; border-radius:10% ">
   {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
   {{else}}

   {{/each}}
    <div class="card-body">
        <h3>Crie sua conta hoje!</h3>
        <form action="/usuario/registro" method="post" class= "center" >
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="" class=" form-control" required>
            <label for="email">Email:</label>
            <input type="text" name="email" class="form-control"required>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" class="form-control" required>
            <label for="senha2">Repita sua senha:</label>
            <input type="password" name="senha2" class="form-control" required>
            <button class="btn mt-2 btn-success">Criar conta</button>
        </form>
    </div>
</div>